{% extends "base.html.twig" %}

{% block content %}

<h3>Welcome to the Toolbox</h3>
<p>Below is a list of features currently on our website</p>
<br>

<label>Image Gallery</label>
<p>Feel free to upload an image along with details of whatever you like</p>
<br>

<label>Map</label>
<p>See where your internet connection is with our Google Map</p>
<br>

<label>IP Locations</label>
<p>Query our database of over 115,000 entries to see where different IP addresses come from</p>
<br>

<label>Transcribe</label>
<p>Select a file name to have converted from audio to text</p>
<br>

<label>Translator</label>
<p>Enter some text that is not English and have it converted to English</p>
<br>

<label>Help</label>
<p>Ask our Dialogflow bot questions!</p>
<br>

{% endblock %}