{% extends "base.html.twig" %}

{% block content %}

<h3>IP Location Search Complete</h3>
<h5>Matching IP Address for IP: {{ip}}</h5>
<p>Result is:</p>
{% for result in results %}
    <p> {{ result }} </p>
{% endfor %}

{% endblock %}