<!-- This page is used to get the IP address from the user and 
<!-- run BigQuery

<!-- Import the base html file -->
{% extends "base.html.twig" %}

{% block content %}
<h3>IP Address Finder</h3>

<!-- Form to be submitted with variable names -->
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ip">Enter IP Address without the fullstops</label>
        <p>For example, you can enter '97990', '5027765' or '8219721'</p>
        <input type="text" name="ip_address" id="ip_address" value="{{ip_address.ip_address}}" class="form-control"/>
    </div>
    
    <button id="submit" name="ip_address_enter" class="btn btn-success">Submit</button>
</form>

{% endblock %}