{% extends "base.html.twig" %}

{% block content %}

<h3>Users</h3>
<a href="/users/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add user
</a>

{% for user in users %}
<div class="media">
  <a href="/users/{{user.id}}">
    <div class="media-left">
      {% if user.image_url %}
        <img src="{{user.image_url}}"
          style = "max-width:200px; max-height:200px;">
      {% else %}
        <img src="http://placekitten.com/g/128/192"
          style = "max-width:200px; max-height:200px;">
      {% endif %}
    </div>
    <div class="media-body">
      <h4>{{user.player_name}}</h4>
    </div>
  </a>
</div>
{% else %}
<p>No users found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
