{# This file is used for showing the results of the speech to text #}

{# Import the base html file #}
{% extends "base.html.twig" %}

{% block content %}

<h3>File Transcribing Complete</h3>
<p>Transcribing file name: {{fileName}}</p>
<p>Transcript: {{transcript}}</p>

{% endblock %}