<!-- This file is used to get the user input for the speech to text -->

<!-- Import the base html file -->
{% extends "base.html.twig" %}

{% block content %}
<h3>Transcribe Audio File</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ip">Enter a file name from our database to have converted to text</label>
        <p>Try entering 'test_new.flac'</p>
        <input type="text" name="fileName" id="fileName" value="{{fileName.fileName}}" class="form-control"/>
    </div>
    
    <button id="submit" name="fileName_enter" class="btn btn-success">Submit</button>
</form>

{% endblock %}