{# This file is used to show the results of a translation #}

{# Import the base html file #}
{% extends "base.html.twig" %}

{% block content %}

<h3>Translating to English Complete</h3>
<p>Original Text: {{source}}</p>
<p>Translated to English: {{translation}}</p>
<br>
<p>Translations may not be 100% correct due to some words or phrases not having a literal translation in English</p>

{% endblock %}