{% extends "base.html.twig" %}

{% block content %}
<h3>Translator</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ip">Enter text</label>
        <input type="text" name="translate" id="translate" value="{{translate.translate}}" class="form-control"/>
    </div>
    
    <button id="submit" name="translate_enter" class="btn btn-success">Submit</button>
</form>

{% endblock %}